.dash-fnd {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    --nav-height: 60px;

    .sec-bottom {
        display: flex;
        height: calc(100% - var(--nav-height));
        width: 100%;
        justify-content: center;
    }

    &.mobile .sec-bottom {
        height: calc(100% - (var(--nav-height) * 2));
    }
}
