.navbar-fnd {
    width: 100%;
    border-bottom: 2px solid var(--fg-2);
    background: var(--bg-1);
    height: var(--nav-height);
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 0 1rem;

    a {
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left,
    .right {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 1rem;
    }

    .left {
        width: 100%;
    }

    .right {
        width: max-content;
        flex-shrink: 0;
    }
}

.nav-bottom-fnd {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-top: 2px solid var(--fg-2);
    background: var(--bg-1);
    height: var(--nav-height);
    flex-shrink: 0;

    a {
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.nav-fnd {
    .avatar {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        border-radius: 50%;
        aspect-ratio: 1;
        color: var(--white);

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .money {
        gap: 0.5rem;

        span {
            color: var(--green);
            font-family: 'Arvand';
        }
    }

    .mail-icon {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        &-count {
            font-family: monospace;
            position: absolute;
            font-size: 18px;
            color: var(--red);
            top: 10%;
            left: -60%;
            border-radius: 100%;
            aspect-ratio: 1;
            width: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            z-index: 1;
        }
    }

    .mail-warning-icon-exclamation {
        color: var(--red);
        animation: flash 0.9s infinite;

        @keyframes flash {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
    }
}
