.profile-fnd {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    .img {
        width: 70%;
        max-width: 200px;
        aspect-ratio: 1;
        border-radius: 20px;
        overflow: hidden;

        svg {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        direction: rtl;
        max-width: 300px;
        font-size: 1.2rem;

        .name {
            font-family: var(--en), 'Zan';
        }

        .username {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .handle {
                font-family: var(--en);
                direction: ltr;
            }
        }
    }

    .add-wallet {
        display: flex;
        direction: rtl;
        align-items: center;
        gap: 1rem;
        width: 100%;
        max-width: 300px;
        justify-content: space-between;

        button {
            width: 2.5rem;
            height: 2.5rem;
            border: 2px solid var(--green);
        }

        .up-down {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            button {
                border-color: var(--fg-2);
            }
        }

        .amount {
            font-size: 1.4rem;
        }
    }
}
