.transactions-fnd {
    width: 100%;
    height: 100%;

    .transaction-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 1rem;

        .transaction {
            border: 2px solid var(--fg-2);
            border-radius: var(--radius);
            display: flex;
            flex-direction: column;
            width: 100%;
            direction: rtl;
            padding: 1rem;
            font-size: 18px;
            // font-family: var(--en);

            .row {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                .key {
                    flex-shrink: 0;
                    width: 30%;
                }

                .value {
                    text-align: center;
                    width: 70%;
                }
            }

            .datetime {
                direction: ltr;
            }

            &.failed {
                border-color: var(--red);
            }

            &.success {
                border-color: var(--green);
            }

            &.in_progress {
                border-color: var(--yellow);
            }
        }
    }
}
