.transactions-fnd {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    .transaction-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 1rem;
        gap: 1rem;

        .transaction {
            border: 2px solid var(--fg-2);
            border-radius: var(--radius);
            display: flex;
            flex-direction: column;
            width: 100%;
            direction: rtl;
            padding: 0.5rem;
            font-size: 18px;

            .row {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                .key {
                    flex-shrink: 0;
                    width: 30%;
                }

                .value {
                    text-align: center;
                    width: 70%;
                }
            }

            .datetime {
                direction: ltr;
            }

            &.failed {
                border-color: var(--red);
            }

            &.success {
                border-color: var(--green);
            }

            &.in_progress {
                border-color: var(--yellow);
            }
        }
    }

    .pagination {
        width: 100%;
        display: flex;
        gap: 1rem;
        height: max-content;
        flex-shrink: 0;

        button {
            align-items: center;
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}
