.transactions-fnd {
    width: 100%;
    height: 100%;

    .transaction-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 1rem;

        .transaction {
            border: 2px solid var(--fg-2);
            border-radius: var(--radius);
            display: flex;
            flex-direction: column;
            width: 100%;
            direction: rtl;
            padding: 1rem;
            font-size: 18px;
            font-family: var(--en);
        }
    }
}
