.shop-vnum-fnd {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: clamp(300px, 100vw, 500px);

    .cmp-select {
        width: 100%;
        direction: rtl;

        .cmp-select-body.active {
            height: 300px;
        }
    }

    .service,
    .country {
        width: 100%;
    }

    .country .country-dpy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .name {
            white-space: nowrap;
            overflow: hidden;
        }

        .cc {
            font-family: var(--en);
            direction: ltr;
        }
    }

    .service .service-dpy {
        width: 100%;
    }

    .prices {
        display: flex;
        flex-direction: column;
        direction: rtl;
        font-size: 18px;
        width: 100%;

        .row {
            display: flex;
            justify-content: space-between;
            width: 100%;
            white-space: nowrap;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 0.4rem;

        .buy {
            width: 100%;
            direction: rtl;
        }

        .reset {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
