[Unit]
Description=Thora Web
After=syslog.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/thora/web/
EnvironmentFile=/thora/.secrets.env
ExecStart=/thora/target/release/web
KillSignal=SIGQUIT
StandardError=file:/thora/logs/web.error.log
StandardOutput=file:/thora/logs/web.access.log
NotifyAccess=all

[Install]
WantedBy=multi-user.target
