[Unit]
Description=Thora Web
After=syslog.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/thora/web/
EnvironmentFile=/thora/web/.env
ExecStart=/thora/target/release/web
KillSignal=SIGQUIT
StandardError=file:/thora/logs/web.log
NotifyAccess=all

[Install]
WantedBy=multi-user.target
