[Unit]
Description=Thora Bot
After=syslog.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/thora/bot/
EnvironmentFile=/thora/bot/.env
ExecStart=/thora/bot/target/release/bot
KillSignal=SIGQUIT
StandardError=file:/thora/bot/log
NotifyAccess=all

[Install]
WantedBy=multi-user.target
