@font-face {
    font-family: 'Arvand';
    src: url('./Arvand-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Colak';
    src:
        url('./Colak.ttf') format('truetype'),
        url('./Colak.otf') format('opentype');
}

@font-face {
    font-family: 'Kaaf';
    src: url('./Kaaf.ttf') format('truetype');
}

@font-face {
    font-family: 'Jakarta';
    src: url('./PlusJakartaSans[wght].ttf') format('truetype');
}

@font-face {
    font-family: 'Zan';
    src: url('./Zan.ttf') format('truetype');
}
