.admin-fnd {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &.loading {
        position: relative;
    }

    .loading-msg {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        inset: 0;
        backdrop-filter: blur(3px);
        background-color: #0005;
    }

    .inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem 2rem;

        input {
            border-radius: var(--radius);
            border: 2px solid var(--fg-2);
            font-size: 16px;
            padding: 0 0.4rem;
        }
    }

    .save-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
    }
}
